
* {
  margin: 0;
  padding: 0; 
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: garamond;
    font-weight: 400;
    font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}


ul {
	list-style-type: none;
	margin: 0;
	background-color: white;
	padding: 8px 0 8px 16px;
}

li > a {
	display: inline;
	width: 2em;
}

a:hover {
  color: #57A4D4;
  cursor: pointer;
}

a:link {
	text-decoration: none;
	color: none;

}


.active {
	color: #4c5058;
    font-weight: 500;
}

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;

}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;

}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.content {
	padding: 1rem 2rem;
}

.introduction {
	background-image: url(http://i.imgur.com/tNZPnBu.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	padding: 10rem;	
	color: white;
	font-size: 2rem;
	text-align: center;
	overflow: auto;
}


.introduction-text {
	margin-bottom: .5em;
}

.buttons {

	text-shadow: none;
	background-color: orange;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
	margin-top: .5em;
	color: white;
	}

button:hover{
	background-color: #EE7600;
}

.tile-section{
	margin: 0 0;
	display: center;
}

.cases {
	display: inline-block;
	margin: auto;
	text-align: center;
	width: 100%;
}

.tiles {
	width: 33.333333%;
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
	margin: 10px;
	height: 10em;
}

.main {
	color: black;
	margin: auto;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;

}

.one-half {
	width: 100%;
}

@media only screen and (min-width: 540px) {

	.one-half {
		width: 50%;
	}	

}
